@model myProject.Models.CATEGORY_tbl

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CATEGORY_tbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SHOP_tbl.SHOP_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SHOP_tbl.SHOP_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CATEGORY_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORY_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CRTEGORY_STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CRTEGORY_STATUS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CATEGORY_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
