@model IEnumerable<myProject.Models.CATEGORY_tbl>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("Create","CATEGORY_tbl")" class="btn btn-danger">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
           Shop Name
        </th>
        <th>
           Category Name
        </th>
        <th>
          Category status
        </th>
        <th></th>
    </tr>

@foreach (var category in Model) {
    <tr>
        <td>
            @category.SHOP_tbl.SHOP_NAME
        </td>
        <td>
            @category.CATEGORY_NAME
        </td>
        <td>
            @category.CRTEGORY_STATUS
        </td>
        <td>
            <a class="glyphicon glyphicon-pencil btn btn-danger square-btn-adjust" href=" @Url.Action("Edit", "CATEGORY_tbl", new { id = category.CATEGORY_ID })"></a>
            <a class="glyphicon glyphicon-book btn btn-danger square-btn-adjust"   href="@Url.Action("Details", "CATEGORY_tbl", new { id = category.CATEGORY_ID })"></a>
            <a class="glyphicon glyphicon-trash btn btn-danger square-btn-adjust"  href="@Url.Action("Delete", "CATEGORY_tbl", new { id = category.CATEGORY_ID })"></a>

            
        </td>
    </tr>
}

</table>
