@model myProject.Models.PRODUCT_tbl

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PRODUCT_tbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.P_CATEGORY_tbl.P_CATEGORY_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_CATEGORY_tbl.P_CATEGORY_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCT_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCT_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCT_IMAGE)
        </dt>

        <dd>
            <img src="@Url.Content(Model.PRODUCT_IMAGE)" width="100" height="100"/>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCT_DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCT_DESCRIPTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCT_PURCHASEPRICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCT_PURCHASEPRICE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCT_SALEPRICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCT_SALEPRICE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCT_AVAILABILITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCT_AVAILABILITY)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PRODUCT_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
