@model IEnumerable<myProject.Models.FLOOR_tbl>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
     <a href="@Url.Action("Create","FlOOR_tbl")" class="btn btn-danger">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            Floor Name
        </th>
        <th></th>
    </tr>

@foreach (var floor in Model) {
    <tr>
        <td>
            @floor.FLOOR_NAME
        </td>
        <td>
            <a class="glyphicon glyphicon-pencil btn btn-danger square-btn-adjust" href="@Url.Action("Edit", "FLOOR_tbl", new { id = floor.FLOOR_ID })"></a>
            <a class="glyphicon glyphicon-book btn btn-danger square-btn-adjust" href="@Url.Action("Details", "FLOOR_tbl", new { id = floor.FLOOR_ID })"></a>
            <a class="glyphicon glyphicon-trash btn btn-danger square-btn-adjust" href="@Url.Action("Delete", "FLOOR_tbl", new { id = floor.FLOOR_ID })"></a>

        </td>
    </tr>
}

</table>
 